<!DOCTYPE html>
<html lang="en">
<div style="color:white; text-align:center; font-size:400%; padding:10px; background-color:#247BFB">TSM Monitoring Services</div>
<head>
    <meta charset="UTF-8">
    <title>TSM | Version Query</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
{% extends 'navbar.html' %}

{% block content %}
<body>
<script type="text/javascript" src="/static/jquery-3.5.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script> $(document).ready(function() {
    var table = $('#example').DataTable( {
        "scrollY": "200px",
        "paging": false
    } );

    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();

        var column = table.column( $(this).attr('data-column') );

        column.visible( ! column.visible() );
    } );
} );
</script>
<div class="container" style="width=device-width, initial-scale=1.0">
    <table id="example" class="display" width="80%" align="center" style="font-size:150%">
        <thead>
        <tr>
            <th>Version Date</th>
            <th>SC NO</th>
            <th>Main Version</th>
            <th>POS Version</th>
            <th>ECR Source IP</th>
        </tr>
        </thead>
        <tbody>
        {% if items %}
            {% for item in items %}
            <tr>
                <td> {{item.date_inserted}} </td>
                <td> {{item.serial_trans}} </td>
                <td> {{item.main_version}} </td>
                <td> {{item.pos_version}} </td>
                <td> {{item.ip}} </td>
            </tr>
            {% endfor %}
        {% else %}
            <td> Listlenecek Veri Yok </td>
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <th>Version Date</th>
            <th>SC NO</th>
            <th>Main Version</th>
            <th>POS Version</th>
            <th>ECR Source IP</th>
        </tr>
        </tfoot>
    </table>
</div>
</body>
{% endblock %}
</html>